<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <link rel="stylesheet" type="text/css" href="/web/style.css">
</head>
<body>
    <header>
        <div>
            
                <h1><a href="/">GoodBuy</a></h1>
                <p>Сервис учёта продаж</p>
            </a>
        </div>

        <div>
            <nav>
                {{template "user_buttons" .}}
                {{template "role_buttons" .}}
            </nav>
        </div>

        <div>
            <account>
                {{template "logout" .}}
            </account>
        </div>
        
    </header>
    <br>

    <main>
        {{template "content" .}}
        
    </main>
    <br>

    <footer>
        <p>
            &copy; 2023-{{.current_year}} <a href="https://t.me/dapelsin" title="Telegram">Dmitry Rosin</a>. MIT License.
            <br>
            <a href="https://github.com/applesinus" title="GitHub">My profile on Github</a> / <a href="https://github.com/applesinus/GoodBuy" title="GitHub">This project on GitHub</a>
        </p>
    </footer>
</body>
</html>
